{{define "view/cloud/containerListExit.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/containerListExitName.css">
    <title>{{.title}}</title>
</head>
<body>
    <div id="containerListExitContent">
        <ul class="ul1">
            {{range $k, $v := .containerExitName}}
                <li><span>容器名: </span>{{$v}}</li>
            {{end}}
        </ul>
        <ul class="ul1">
            {{range $k, $v := .containerExitId}}
                <li><span>ID: </span>{{$v}}</li>
           {{end}}
        </ul>
        <ul class="ul1">
            {{range $k, $v := .containerExitStatus}}
                <li><span>状态: </span>{{$v}}</li>
            {{end}}
        </ul>
        <ul class="ul1">
            {{range $k, $v := .containerExitRes}}
                <li><span>{{$v}}</span></li>
            {{end}}
        </ul>
        <ul class="ul1">
            {{range $k, $v := .containerExitStop}}
                <li><span>{{$v}}</span></li>
            {{end}}
        </ul>
        <ul class="ul1">
            {{range $k, $v := .containerExitDel}}
                <li><span>{{$v}}</span></li>
            {{end}}
        </ul>
        <ul class="ul1">
            {{range $k, $v := .containerExitLog}}
                <li><span>{{$v}}</span></li>
            {{end}}
        </ul>
    </div>
</body>
</html>
{{end}}