{{define "view/log/errLog.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/errLog.css">
    <title>{{.title}}</title>
</head>
<body>
    <div id="errContent">
        <ul class="errUl">
            {{range $k, $v := .errLog}}
                <li>{{$v}}</li>
            {{end}}
        </ul>
    </div>
</body>
</html>
{{end}}